<!doctype html>
<html>
	<body>
		<table border=1>
			<tr>
				<th>파일명</th>
				<td>사이즈</td>
			    <td>해시</td>
			</tr>
			{% for item_info in data_list %}
			<tr>
				{% if item_info.size < 0 %}
					<th> <a href="{{current_url}}/{{item_info.name}}">{{item_info.name}}</a></th>
					<td> "" </td>
					<td> "" </td>
				{% else %}
					<th>{{item_info.name}}</th>
					<td>{{item_info.size}}</td>
					<td>{{item_info.hash}}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
